In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('healthcare_noshows_appointments.csv')

In [6]:
df.info

<bound method DataFrame.info of            PatientId  AppointmentID Gender ScheduledDay AppointmentDay  Age  \
0       2.987250e+13        5642903      F   2016-04-29     2016-04-29   62
1       5.589978e+14        5642503      M   2016-04-29     2016-04-29   56
2       4.262962e+12        5642549      F   2016-04-29     2016-04-29   62
3       8.679512e+11        5642828      F   2016-04-29     2016-04-29    8
4       8.841186e+12        5642494      F   2016-04-29     2016-04-29   56
...              ...            ...    ...          ...            ...  ...
106982  2.572134e+12        5651768      F   2016-05-03     2016-06-07   56
106983  3.596266e+12        5650093      F   2016-05-03     2016-06-07   51
106984  1.557663e+13        5630692      F   2016-04-27     2016-06-07   21
106985  9.213493e+13        5630323      F   2016-04-27     2016-06-07   38
106986  3.775115e+14        5629448      F   2016-04-27     2016-06-07   54

            Neighbourhood  Scholarship  Hipertension  Diabetes  Alcoholism  \
0         JARDIM DA PENHA        False          True     False       False
1         JARDIM DA PENHA        False         False     False       False
2           MATA DA PRAIA        False         False     False       False
3       PONTAL DE CAMBURI        False         False     False       False
4         JARDIM DA PENHA        False          True      True       False
...                   ...          ...           ...       ...         ...
106982        MARIA ORTIZ        False         False     False       False
106983        MARIA ORTIZ        False         False     False       False
106984        MARIA ORTIZ        False         False     False       False
106985        MARIA ORTIZ        False         False     False       False
106986        MARIA ORTIZ        False         False     False       False

        Handcap  SMS_received  Showed_up  Date.diff
0         False         False       True          0
1         False         False       True          0
2         False         False       True          0
3         False         False       True          0
4         False         False       True          0
...         ...           ...        ...        ...
106982    False          True       True         35
106983    False          True       True         35
106984    False          True       True         41
106985    False          True       True         41
106986    False          True       True         41

[106987 rows x 15 columns]>

In [7]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Showed_up,Date.diff
0,2.987250e+13,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,False,True,False,False,False,False,True,0
1,5.589978e+14,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,False,False,False,False,False,True,0
2,4.262962e+12,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,False,False,False,False,False,False,True,0
3,8.679512e+11,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,False,False,False,False,False,False,True,0
4,8.841186e+12,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,True,True,False,False,False,True,0

In [8]:
df = df.drop(columns=['PatientId', 'AppointmentID'])

In [9]:
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'])

In [10]:
df.head()

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Showed_up,Date.diff
0,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,False,True,False,False,False,False,True,0
1,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,False,False,False,False,False,True,0
2,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,False,False,False,False,False,False,True,0
3,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,False,False,False,False,False,False,True,0
4,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,True,True,False,False,False,True,0

In [11]:
df['Days_Waited'] = (df['AppointmentDay'] - df['ScheduledDay']).dt.days
df['AppointmentWeekday'] = df['AppointmentDay'].dt.day_name()
df['ScheduledWeekday'] = df['ScheduledDay'].dt.day_name()
df['IsWeekend'] = df['AppointmentWeekday'].isin(['Saturday', 'Sunday'])

In [12]:
df = df[df['Days_Waited'] >= 0]
df = df[df['Age'] >= 0]

In [14]:

df['Gender'] = df['Gender'].map({'F': 0, 'M': 1})
df['AppointmentWeekday'] = df['AppointmentWeekday'].astype('category').cat.codes


features = ['Gender', 'Age', 'Scholarship', 'Hipertension', 'Diabetes',
            'Alcoholism', 'Handcap', 'SMS_received', 'Days_Waited',
            'AppointmentWeekday', 'IsWeekend']

X = df[features]
y = df['Showed_up'].astype(int) 


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
 sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

# Create the model
model = DecisionTreeClassifier(max_depth=5, random_state=42)

# Train it
model.fit(X_train, y_train)

# Predict on test data
y_pred = model.predict(X_test)

In [ ]:


# y_test: actual values
# y_pred: predictions from your model
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Confusion Matrix:
[[    0  4277]
 [    0 17120]]

Classification Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00      4277
           1       0.80      1.00      0.89     17120

    accuracy                           0.80     21397
   macro avg       0.40      0.50      0.44     21397
weighted avg       0.64      0.80      0.71     21397

/Users/kashishsrivastava/Desktop/me/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/kashishsrivastava/Desktop/me/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/kashishsrivastava/Desktop/me/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [23]:


import numpy as np
from sklearn.utils.class_weight import compute_class_weight
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

# STEP 1: Split your data into train and test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42, stratify=y)

# STEP 2: Handle imbalance in the data (to give fair weight to both 0 and 1)
classes = np.array([0, 1])  # 🔥 THIS LINE FIXES THE ERROR
class_weights = compute_class_weight(class_weight='balanced', classes=classes, y=y_train)
class_weight_dict = dict(zip(classes, class_weights))

# STEP 3: Build the model using those weights
model = DecisionTreeClassifier(max_depth=5, random_state=42, class_weight=class_weight_dict)

# STEP 4: Train the model
model.fit(X_train, y_train)

# STEP 5: Predict on test data
y_pred = model.predict(X_test)

# STEP 6: Print results
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Confusion Matrix:
[[ 4414  1005]
 [10092 11235]]

Classification Report:
              precision    recall  f1-score   support

           0       0.30      0.81      0.44      5419
           1       0.92      0.53      0.67     21327

    accuracy                           0.59     26746
   macro avg       0.61      0.67      0.56     26746
weighted avg       0.79      0.59      0.62     26746